<!DOCTYPE html>
<html lang="en">
<head>
<body>
<!DOCTYPE html>
<html lang="en" style="background-color:tomato;">
<head>
<body style="background-color:tomato;">
{% extends "index.html" %}

{% block content %}

<h1 style="background-color:teal; border=blue;border-width:10px; border-style:outset">Most Recent Post</h1>
{% for post in data %}
<section style="background-color:teal; border=blue;border-width:10px; border-style:outset">
    <h2>Title: {{post['Post']['title']}}</h2>
    <h3>Content: {{post['Post']['content']}}</h3>
    <h6>ID: {{post['Post']['id']}}</h6>
    <h6>Owner: {{post['Post']['owner']}}</h6>
    <h6>Approval Votes: {{post['votes']}}</h6>
    <h6>Created At: {{post['Post']['created_at']}}</h6>
</section>
{% endfor %}
{% endblock %}
<br>
</body>
<head>
</html>